@import "variables";

.base-input {
  width:calc(100% - 26px);
  height: 30px;
  border: 1px solid $mainBlue;
  border-radius: 5px;
  padding: 7px 15px;
}

.blue-button {
  width: 100%;
  color: white;
  background-color: $mainBlue;
  font-weight: bold;
}

.error-text {
  color: $errorColor;
}

.modal-form {
  margin-top: 0;
  text-align: center;
  background-color: white;
  padding: 50px;
}